# This file is for create an entry to your xfce4 app menu for this app
# You should first setup and compile the project for linux
# Copy this file to ~/.local/share/applications with "ICS file viewer.desktop" name or wathever *.desktop
# And then replace {ADD HERE YOUR ABSOLUTE PATH TO PROJECT} with your absolute path to project folder
# In my case would be: '/home/abderra/userManualInstalledPrograms'
[Desktop Entry]
Name=ICS File Viewer
Comment=Aplicación para previsualizar ficheros ICS en vista de calendario y ver sus detalles.
Exec={ADD HERE YOUR ABSOLUTE PATH TO PROJECT}/working-hours-tracker/dist/linux-unpacked/ics-viewer
Icon={ADD HERE YOUR ABSOLUTE PATH TO PROJECT}/working-hours-tracker/build/icons/icon.png
Type=Application
Categories=Utility;
